.bgContainer {
  position: relative;
  text-align: center;
}
.textCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  font-weight: 700;
  color: #ffca28;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.43);
  transform: translate(-50%, -50%);
}
.glassEffect{
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
.profileCardWraper {
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
.profileCard {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border: 1px solid rgb(158, 138, 138); */
}

.bounceEffect{
  animation: bounce 2s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(1, 0.05, 1, .5);
  animation-iteration-count: infinite;
}
@keyframes bounce{
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 200px, 0);}
}

.bgGd{
  border-top-right-radius: 5%;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 1%;
  border-bottom-right-radius: 1%;
  background-image: linear-gradient(to bottom right, #FAD5E2 , #F8F8FF);
}
.WbgGd{
  border-top-right-radius: 20%;
  border-bottom-left-radius: 5%;
  background-image: linear-gradient(  #F8F8FF,#FAD5E2 );
}